 
.home--button--extnd{
font-size: 1.1rem !important;
}

.home--button--extnd:hover{
    color: gray !important;
}
  
@media only screen and (max-width: 600px) {
    .home--button{
        width: 100% !important;
  }


}


  