.card{
    margin-bottom: 30px !important;
}

.text-custom{
    font-weight: bold;
    color: white;
}

.line{
    width: 2px;
    height: 30px;
    border: 1px solid red; 
}

a{
    text-decoration: none !important;
    color: white !important;
}


@media only screen and (max-width: 600px) {
    .cards {
      display: flex !important;
      flex-direction: column !important;
      margin: auto;
    }

    img{
        width: 280px !important;
        height: 400px !important;
    }
  
  }