.nav-bg{
    background-color: black !important;
    font-size: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.brand{
    font-size: 28px !important;
    font-weight: 600;
}

